td {
  border: 1px solid;
}

table {
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 1px;
}

tbody {
  white-space: nowrap;
}

td {
  padding: 5px 10px;
  border-top-width: 0;
  border-bottom-width: 1px;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
  
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

caption{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 20px;
}